      :root {
    --cor-primaria: #183C63;
    --cor-secundaria: #3782d2;
    --cor-fundo: #ffffff;
    --cor-texto: #151428;
    --cor-contraste: #f3eef7;
    --cor-botao: #f9f9f9;

    --fonte-texto
}
    .tema escuro {
   --cor-primaria: #a6cefe;
    --cor-secundaria: #98caff;
    --cor-fundo: #0f172a;
    --cor-texto: #ffffff;
    --cor-contraste: #f3eef7;
    --cor-botao: #f9f9f9;
    }

    .tema-escuro a {
        color: var (--cor-secundaria);
    }
    .tema-escuro p {
        color: var (--cor-texto),
    }
    .tema-escuro header p {
        color: var (--cor-contraste)
    }
       
        body {
    max-width: 100vw;
    --fonte-texto:var(--fonte-texto);
        }
         
        header{
            background-color: var(--cor-primaria);
            color: #FFFFFF;
            text-align: center;
            margin: 0 auto;
            padding: 16px;

            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;

        }
        img{

            width: 80px;
            height: 80px;
        }
         .artigo-autor{
            font-weight: bold;
        }
        main {
            background-color:var(--cor-fundo);
            color: var(--cor-texto);
            margin: 0 auto;
            padding: 16px;
    display: flex;
    flex-wrap: wrap;
}
        
        article{
            display: flex;
        
    border: 1px solid #183C63;
    margin: 16px;
    gap: 16px;
    padding: 16px;

    flex: 1 1 25%;
}
        